webVeterinaria/Connected Services/svAgenda/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfVeterinaria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfVeterinaria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMotivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Motivo" nillable="true" type="tns:Motivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMotivo" nillable="true" type="tns:ArrayOfMotivo" />
  <xs:complexType name="Motivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Motivo" nillable="true" type="tns:Motivo" />
</xs:schema>